html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, helvetica, sans-serif;
  background-color: #978686;
  line-height: 1.65;
  padding-bottom: 1000px;
}

/* latihan 1 */
/* container 1 */
.container-satu {
  width: 800px;
  margin: 50px auto;
  background-color: salmon;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}

.kolom-utama {
  flex: 3;
  order: 2;
  margin: 10px;
}

.sidebar-satu {
  flex: 1;
  order: 1;
  margin: 10px;
}

.sidebar-dua {
  flex: 1;
  order: 3;
  margin: 10px;
}

/* latihan 2 */

.container-dua {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

/* besaran dari tiap tiap kotak yang ada pada div.layanan.satu */
/* ketika dicoba 33.1 maka *3 akan menghaslilkan ouput seperti ini */
.layanan {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.layanan.satu {
  background-color: aqua;
}

.layanan.dua {
  background-color: rgb(97, 220, 52);
}

.layanan.tiga {
  background-color: rgb(230, 139, 48);
}

/* latihan3 */
.container-tiga {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tumbnail {
  width: 50%;
}

.tumbnail img {
  width: 100%;
}

.container-empat {
  width: 800px;
  margin: 50px auto;
  display: flex;
}

.card {
  border: 1px solid rgb(101, 72, 72);
  border-radius: 10px;
  background-color: grey;
  margin: 10px;
  flex: 1;
}

.card .header {
  height: 250px;
  background-color: #eee;
}

.card .content {
  text-align: center;
  background-color: grey;
  padding-bottom: 20px;
}

.aa {
  transform: scale(1.12);
}

/* responsive  */
@media (min-width: 600px) {
  .container-dua {
    display: flex;
    justify-content: space-between;
  }

  .layanan {
    width: 30%;
  }

  .tumbnail {
    width: 25%;
  }
}
